 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/profile.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<body>
    <%- include('_header'); -%>
<h2 style="text-align:center">User Profile Card</h2>

<div class="card">
  <img src="<%=locals.user.avatar%>" alt="<%=locals.user.name%>" style="width: 100%;height: 40%; border-radius: 17%;">
  <% if(locals.user){%>
    <form method="POST" action="/update" enctype="multipart/form-data">
      <input type="email" name="email" placeholder="New Email" value="<%=user.email%>" required>
      <input type="text" name="name" placeholder="New User Name" value="<%=user.name%>" required>
      <input type="text" name="cgpa" placeholder="Your CGPA" value="<%=user.cgpa%>" required>
      <input type="text" name="percentage" placeholder="Your percentage" value="<%=user.percentage%>" required>
      <input type="file" placeholder="Profile Pic" name="avatar">
      <input type="submit" value="Update">
     
  </form>
    <h1><%=locals.user.name%></h1>
    <h2><%=locals.user.email%></h2>
    <h2><%=locals.user.ID%></h2>
    <h1><%=locals.user.cgpa%></h1>
    <h1><%=locals.user.percentage%></h1>
    <p class="title"><%=locals.user.bio%></p>
  <button style="overflow: hidden;background-color:#1f2025;"><a href="https://www.iiests.ac.in" target="__blank" style="color: white;">IIEST,Shibpur</a></button>
    <%}%>
  
  
  <!-- <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
  <p><button>Contact</button></p> -->

</div>


<script src="/js/profile.js"></script>
</body>
 